body {
	background-image: url("../img/imagem-fundo.png");
}

.calculadora {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.botao {
	margin-top: 20px;
}