body {
	background-image: url("../img/imagem-fundo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.calculadora {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.botao {
	margin-top: 20px;
}